*{
    margin:0;
    border:0;
}
@font-face {
    font-family: 'Garam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Garam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #9DB589;
    height: 98vh;
}
#mainFrame{
    position:relative;
    width: 80vw;
    height: 93%;
    margin:2vh 10vw;
    background-color:#F4EAD5;
    border-radius:2%;
    padding-top: 2%;
    z-index:2;
}
#searchMascot{
    position:absolute;
    left:30%;
    top:4%;
    width:5%;
}
#pageName{
    width:30vw;
    height:40px;
    margin:0 auto;
    border-radius: 10px;
    background-color:#CCD6A6;
    color:white;
    font-size:25px;
    text-align: center;
}
#main{
    width:85%;
    height:73.8%;
    display:grid;
    grid-template-areas:
        "a"
        "b"
        "c";
    grid-template-rows:1fr 8fr 2fr;
    background-color: #FFFBE9;
    border-radius: 20px;
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    padding-top:3vh;
    overflow:auto;
}
#main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#birdwatchBasicInfo{
    grid-area:"a";
}
.add{
    grid-area:"b";
}
#binocular{
     width:2vw;
     margin-left:2vw;
     display:inline-block;
}
#date{
    display:inline-block;
    height: 5vh;
    font-size: 20px;
    margin-top:5vh;
    margin-bottom:5px;
    margin-left:40px;
    font-size:1vw;
    background-color: transparent;
    display: flex;
    flex-flow: row-reverse;
}
#date:focus{
    outline-width: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor:pointer;
}
#place{
    width:fit-content;
    display:inline-block;
    margin-left:40px;
    font-size:1vw;
    background-color: transparent;
    border-bottom: solid black 1px;
}
#place:hover{
    cursor:pointer;
}
#place:focus{
    outline-width: 0;
}
#place:focus::placeholder{
    color: transparent;
}
.birdFrame{
    width:60vw;
    height:32vh;
    display:flex;
    align-items: center;
    justify-items: center;
    background-color:#FFFDF3;
    margin:20px auto;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    box-shadow: -3px 3px 3px 0px rgba(244,241,226,0.75);
    -webkit-box-shadow: -3px 3px 3px 0px rgba(244,241,226,0.75);
    -moz-box-shadow: -3px 3px 3px 0px rgba(244,241,226,0.75);
    animation: slideUp 0.5s forwards;
}
@keyframes slideUp{
    from{transform:translateY(100vh);}
    to{transform:translateY(0);}
}
.swipeLeft{
    animation: slideLeft 0.5s forwards;
}
@keyframes slideLeft{
    from{transform:translateX(0);}
    to{transform:translateX(-100vw);}
}
.info{
    display:inline-block;
    width:40vw;
}
.addBird{
    width:25vw;
    height:28px;
    display:inline-block;
    border-radius:15px;
    padding-left:2%;
    border: black solid 1px;
}
.birdName{
    width: 95%;
    background-color: transparent;
}
.birdName:focus::placeholder{
    color: transparent;
}
.birdName:focus{
    outline-width: 0;
}
.numOfBirds{
    width:fit-content;
    height:28px;
    display:block;
    margin-top: 1vh;
    padding-left:2%;
    border-bottom: grey solid 1px;
}
.birdNum{
    width:3vw;
}
.birdNum::-webkit-inner-spin-button, 
.birdNum::-webkit-outer-spin-button {  
   opacity: 1;
}
.unit{
    display:inline-block;
}
.birdNameSubmit{
    float:right;
    margin-right:1vw;
    margin-top:0.5vh;
    border-radius:10px;
    font-size:0.9vw;
}
.birdNameSubmit:hover{
    cursor:pointer;
}
.deletebutton{
    width:1vw; 
    margin-left:22px;
    float:right;
}
.deletebutton:hover{
    cursor:pointer;
}
#addButton{
    width:3vw;
    height:3vw;
    margin-left:2vw;
    position:relative;
    z-index:10;
}
#addButton:hover{
    cursor:pointer;
}
#addRecordBirdButton{
    width:6vw;
    float:right;
    margin-right:2vw;
}
#addRecordBirdButton:hover{
    cursor:pointer;
    width:7vw;
    content:url("addRecordBirdButton2.png");
}
#imgFullScreen{
    position:fixed;
    display:none;
    align-items: center;
    justify-content: space-evenly;
    z-index:999;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.6);
}
#fsPrevImg{
    width:2vw;
    height:auto;
    margin-left:1vw;
}
#fsNextImg{
    width:2vw;
    height:auto;
    margin-right:1vw;
}
#fsPrevImg:hover, #fsNextImg:hover{
    cursor:pointer;
}
#fsImg{
    height:90vh;
    width:auto;
}
#fsDelBtn{
    position:absolute;
    right: 0;
    top: 0;
    width: 50px;
    margin-top: 20px;
    margin-right: 20px;
}
.explanation{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:33vw;
    height:14vh;
    margin-top:15px;
    border-radius:10px;
    border: black solid 1px;
    backdrop-filter: blur(5px);
}
.write{
    width:97%;
    height:80%;
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(5px);
    resize: none;
}
.write:focus{
    outline-width: 0;
}
.write:focus::placeholder{
    color:transparent;
}
.img{
    display:inline-block;
    width:25vw;
    height:15vw;
}
.fileLabel{
    display:flex;
    align-items: center;
    width:24vw;
    height:12vw;
    border-radius:10px;
    background-color: #DAE2B6;
    margin-top:3vh;
    margin-left:2vw;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.fileLabel:hover{
    cursor:pointer;
}
.photo{
    display:block;
    width:2.5vw; 
    height:2.5vw;
    margin:0vw auto;
}
.file{
    display: none;
}
.prevImg{
    display: inline-block;
    width:0.6vw;
    margin-left: 13.2vw;
    margin-top: 4px;
}
.nextImg{
    display: inline-block;
    width:0.6vw;
}
.count{
    float:right;
    position:relative;
    font-size:7px;
}
#buttons{
    grid-area:"c";
    height: 4vh;
    display:block;
    margin-bottom:70px;
}
#line{
    float:none;
    position:absolute;
    z-index:5;
    bottom:13.5%;
    height: 3px;
    width:80vw;
    margin:0 auto;
    border: 0;
    background: black;
}
#buttonLine{
    position:absolute;
    bottom:0%;
    display: flex;
    background-color:#F5EFD4;
    width:100%;
    height:14%;
    border-radius:0px 0px 20px 20px;
    align-content:center;
    align-items: center;
    justify-content: center;
}
.pageButton{
    width:15%;
    height:70%;
    font-family: 'Garam';
    font-size:35px;
    font-weight:500;
    background-color:#DAE2B6;
    margin:0px 0.1%;
    border-radius:10px;
    cursor: pointer;
}
#currentButton{
    font-weight:600;
    background-color:#DCEC97;
}
#choose{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:10%;
    right:5%;
    z-index:1;
}
.tab{
    height:10vh;
}
.tabLabel{
    position:absolute;
    right:8%;
    margin-top:10%;
    z-index:10;
    font-size:10px;
    text-align:right;
    font-family:'omyu_pretty';
    font-size: 20px;
    cursor:pointer;
}
#currentTab{
    transform:translateX(15%);
}
#settings{
    position:absolute;
    right:0;
    transform: translateX(6vw);
}
.logout{
    position: relative;
    width:2vw;
    height:auto;
    z-index: 6;
}
.logout:hover{
    cursor: pointer;
}
.notification{
    width:1.5vw;
    height:auto;
    margin-left: 1vw;
}
.notification{
    cursor: pointer;
}
@media screen and (max-width:1200px){
    #choose{
        display:none;
    }
    #settings{
        display:none;
    }
}@media screen and (max-height:500px){
    #choose{
        display:none;
    }
}@media screen and (max-width:980px){
    .pageButton{
        font-size:28px;
    }
}@media screen and (max-width:850px){
    .pageButton{
        font-size:20px;
    }
    #searchBox{
        margin-top: 2%;
    }
}
@media screen and (max-width:600px){
    .pageButton{
        font-size:16px;
    }
    #searchBox{
        margin-top: 2.5%;
    }
}
@media screen and (max-height:500px){
    #buttonLine{
        display:none;
    }
    #line{
        display:none;
    }
    #main{
        height:75%;
    }
    #searchMascot{
        display:none;
    }
    #buttons button{
        margin-top:20vh;
    }
}
@media screen and (max-height:630px){
    #buttons button{
        margin-top:8vh;
    }
}