*{
    margin:0;
    border:0;
}
@font-face {
    font-family: 'Garam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Garam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
body{
    background-color: #9DB589;
    height: 98vh;
}
#mainFrame{
    position:relative;
    width: 80vw;
    height: 93%;
    margin:2vh 10vw;
    background-color:#F4EAD5;
    border-radius:2%;
    padding-top: 2%;
    z-index:2;
}
#searchMascot{
    position:absolute;
    width:5%;
    top:12vh;
    transform: translateX(15vw);
}
#main{
    position:relative;
    width:85%;
    height:80%;
    background-color: #FFFBE9;
    border-radius: 20px;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
    overflow:auto;
}
#main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#newsTitle{
    width: 40vw;
    margin: 7vh auto;
    border-bottom: black 2px solid;
    text-align:center;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: 'Ultra', serif;
}
.articleType1{
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(100%);
    animation: slideIn 1s calc(200ms*var(--order)) forwards;
}
@keyframes slideIn {
    from {transform:translateY(100%);}
    to {transform:translateY(0%);}
}

.appearBottom{
    animation: appearBottom 1s forwards;
}
.appearTop{
    
}
@keyframes appearBottom {
    from {transform:translateY(100%);}
    to {transform:translateY(0%);}
}
@keyframes appearTop {
    from {transform:translateY(-100%);}
    to {transform:translateY(0%);}
}
.articleImg{
    width:10vw;
    height: 10vw;
    margin: 0 2%;
    display: inline-block;
}
.articleText{
    display: inline-flex;
    flex-direction: column;
    margin: 0 2%;
    width: 78%;
    height: 10vw;
}
.articleTitle{
    width: fit-content;
    margin-bottom: 2vh;
    border-bottom: black solid 1px;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.articleTitle:hover{
    cursor: pointer;
}
.articleSrc{
    margin-bottom: 1vh;
    color: blue;
}
.articleDescr{
    width: 100%;
    height: 4em;
    overflow:hidden;
}
#line{
    position:absolute;
    z-index:5;
    bottom:13.5%;
    height: 3px;
    width:80vw;
    margin:0 auto;
    border: 0;
    background: black;
}
#buttonLine{
    position:absolute;
    bottom:0%;
    display: flex;
    background-color:#F5EFD4;
    width:100%;
    height:14%;
    border-radius:0px 0px 20px 20px;
    align-content:center;
    align-items: center;
    justify-content: center;
}
.pageButton{
    width:15%;
    height:70%;
    font-family: 'Garam';
    font-size:35px;
    font-weight:500;
    background-color:#DAE2B6;
    margin:0px 0.1%;
    border-radius:10px;
    cursor: pointer;
}
#currentButton{
    font-weight:600;
    background-color:#DCEC97;
}
#settings{
    position:absolute;
    right:0;
    transform: translateX(6vw);
}
.logout{
    position: relative;
    width:2vw;
    height:auto;
    z-index: 6;
}
.logout:hover{
    cursor: pointer;
}
.notification{
    width:1.5vw;
    height:auto;
    margin-left: 1vw;
}
.notification{
    cursor: pointer;
}
@media screen and (max-width:1200px){
    #choose{
        display:none;
    }
    #settings{
        display:none;
    }
}@media screen and (max-height:500px){
    #choose{
        display:none;
    }
}@media screen and (max-width:980px){
    .pageButton{
        font-size:28px;
    }
}@media screen and (max-width:850px){
    .pageButton{
        font-size:20px;
    }
    #searchBox{
        margin-top: 2%;
    }
    .birdExplanation{
        width:90%;
    }
}@media screen and (max-width:600px){
    .pageButton{
        font-size:16px;
    }
    #searchBox{
        margin-top: 2.5%;
    }
    .birdExplanation{
        width:80%;
    }
}@media screen and (max-height:500px){
    #buttonLine{
        display:none;
    }
    #line{
        display:none;
    }
    #main{
        height:85%;
    }
    #search{
        display:none;
    }
    #searchMascot{
        display:none;
    }
}